@tailwind base;
@tailwind components;
@tailwind utilities;


.darkTheme {
    @apply px-10 py-2 bg-rose-200 border rounded-xl text-purple-900 font-semibold ;
}

.lightTheme {
    @apply px-10 py-2 bg-rose-100 border rounded-xl  text-pink-600;
}
.heading {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.subHeading, body {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

.textTransform {
  width: 100%;
}

.textTransform:hover {
  transform: scale(1.01);
}

.swing {
	transform-origin: top center;
	animation: swing 2s ease infinite;
}
@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

.pulse {
  animation: pulse 3s ;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1.2); }
  
}

.hithere {
  animation: hithere 1s ease infinite;
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.bounce-in-right {
  animation: bounce-in-right 2s;
  animation-fill-mode: forwards;
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}